{% extends "GrupaVideoNetBundle::Admin/layout.html.twig" %}
{% set start_active = '' %}
{% set filmy_active = '' %}
{% set forum_active = '' %}
{% set cos_active = '' %}
{% set kontakt_active = '' %}

{% block content %}
<div id="admin-add-movie-form-outer">
<header><h3>EDYCJA</h3></header>
{{ form_start(form, { 'attr' : {'class':'admin-add-movie-form'}}) }}
    {{ form_errors(form) }}
	
    {{ form_label(form.name, 'Tytuł filmu', {'label_attr' : {'class':'add-movie-label'}}) }}{{ form_widget(form.name, {'attr' : {'class':'add-movie-input-title add-movie-input'}}) }}
	
	{{ form_label(form.movieFoto, 'Okładka filmu (link do zdjęcia)', {'label_attr' : {'class':'add-movie-label'}}) }}{{ form_widget(form.movieFoto, {'attr' : {'class':'add-movie-input-title add-movie-input'}}) }}
	 
	{{ form_label(form.movieBigFoto, 'Duże zdjęcie (link do zdjęcia)', {'label_attr' : {'class':'add-movie-label'}}) }}{{ form_widget(form.movieBigFoto, {'attr' : {'class':'add-movie-input-title add-movie-input'}}) }}
	  
	{{ form_label(form.movieVideo, 'Link do wideo', {'label_attr' : {'class':'add-movie-label'}}) }}{{ form_widget(form.movieVideo, {'attr' : {'class':'add-movie-input-title add-movie-input'}}) }}
			
	{{ form_label(form.duration, 'Czas trwania (w minutach)', {'label_attr' : {'class':'add-movie-label'}}) }}{{ form_widget(form.duration, {'attr' : {'class':'add-movie-input-title add-movie-input'}}) }}
	
	{{ form_label(form.countryProduction, 'Kraj produkcji', {'label_attr' : {'class':'add-movie-label'}}) }}{{ form_widget(form.countryProduction, {'attr' : {'class':'add-movie-input-title add-movie-input'}}) }}
	
	<div id="additional-checks">
		{{ form_label(form.isHit, 'Dodać do kategorii hit?', {'label_attr' : {'class':'add-movie-label check-label'}}) }}{{ form_widget(form.isHit, {'attr' : {'class':'add-movie-check'}}) }}<br>
		{{ form_label(form.isSuperHit, 'Wyświetlać jako superhit?', {'label_attr' : {'class':'add-movie-label check-label'}}) }}{{ form_widget(form.isSuperHit, {'attr' : {'class':'add-movie-check'}}) }}
	</div>
		
	{{ form_label(form.description, 'Opis filmu', {'label_attr' : {'class':'add-movie-label'}}) }}{{ form_widget(form.description, {'attr' : {'class':'add-movie-input-desc add-movie-input'}}) }}
	
	<div id="add-movie-price-cat">
		<div id="add-movie-price">
			{{ form_label(form.price, 'Cena', {'label_attr' : {'class':'add-movie-label'}}) }}{{ form_widget(form.price, {'attr' : {'class':'add-movie-input-price add-movie-input'}}) }}
		</div>
		<div id="add-movie-cat">
			{{ form_label(form.category, 'Kategoria', {'label_attr' : {'class':'add-movie-label'}}) }}{{ form_widget(form.category) }}
		</div>
	</div>
	
	<div id="add-movie-dates">
		<div class="add-movie-date">
			{{ form_label(form.production_year, 'Rok produkcji', {'label_attr' : {'class':'add-movie-label'}}) }}{{ form_widget(form.production_year) }}
		</div>
		<div class="add-movie-date">
			{{ form_label(form.premiere_poland, 'Premiera w Polsce', {'label_attr' : {'class':'add-movie-label'}}) }}{{ form_widget(form.premiere_poland) }}
		</div>
		<div class="add-movie-date">
			{{ form_label(form.premiere_world, 'Premiera światowa', {'label_attr' : {'class':'add-movie-label'}}) }}{{ form_widget(form.premiere_world) }}
		</div>
	</div>
	<div class="footer-buttons">
		<a class="form-back" href="{{ link }}/admin/movies">WRÓC</a>
		<button type="button" class="form-remove-movie">USUŃ</button>
		<button type="submit" class="form-add-movie">WYŚLIJ</button>
	</div>
{{ form_end(form) }}
</div>
{% endblock %}