{% extends "GrupaVideoNetBundle::layout.html.twig" %}
{% set start_active = ' active' %}
{% set filmy_active = '' %}
{% set forum_active = '' %}
{% set cos_active = '' %}
{% set kontakt_active = '' %}
{% set link_movies = "http://v-ie.uek.krakow.pl/~s176041/images/movies/" %}

{% block content %}

<div id="sliders-container">
	<section id="slider-row1">
		<header class="box-header"><h3 class="box-header-content">NOWOŚCI</h3></header>
		<div id="slider-news">
			<button id="news-prev" data-slide="9"><i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i></button>
			<div id="slider-news-inner">
				<div id="slider-news-preview">
					{% for movie in lastAdded %}
					<a class="slider-news-link" style="display:none" href="{{ path('grupa_video_net_films_view', {'id': movie.id}) }}">
						<div class="slider-movie-details">{{ movie.name }} ({{ movie.productionYear }})</div>
						<img class="slider-news-image" src="{{ link_movies }}{{ movie.movieBigFoto }}"/>
					</a>
					{% endfor %}
				</div>
				<div id="slider-news-jumpers">
					{% for movie in lastAdded %}
					<button class="slider-news-jumper">
						<img class="slider-news-jumper-image" src="{{ link_movies }}{{ movie.movieFoto }}"/>
					</button>
					{% endfor %}
				</div>
			</div>
			<button id="news-next" data-slide="1"><i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i></button>
		</div>
	</section>
	<div id="sliders-row2">
		<section id="slider-hits-outer">
			<header class="box-header"><h3 class="box-header-content">NAJCZĘŚĆIEJ KUPOWANE</h3></header>
			<div id="slider-hits">
				<button id="hits-prev" data-slide="9">PR</button>
				<div id="slider-hits-inner">
					<div id="slider-hits-preview">
						{% for movie in mostPurchased %}
						<a class="slider-hits-link" style="display:none" href="{{ path('grupa_video_net_films_view', {'id': movie.mov.id }) }}">
							<div class="slider-movie-details">{{ movie.mov.name }} ({{ movie.mov.productionYear }})</div>
							<img class="slider-hits-image" src="{{ link_movies }}{{ movie.mov.movieBigFoto }}"/>
						</a>
						{% endfor %}
					</div>
					<div id="slider-hits-jumpers">
						{% for movie in mostPurchased %}
						<button class="slider-hits-jumper">
							<img class="slider-news-jumper-image" src="{{ link_movies }}{{ movie.mov.movieFoto }}"/>
						</button>
						{% endfor %}
					</div>
				</div>
				<button id="hits-next" data-slide="1">NE</button>
			</div>
		</section>
		<section id="slider-top-outer">
			<header class="box-header"><h3 class="box-header-content">NAJCZĘŚCIEJ RECENZOWANE</h3></header>
			<div id="slider-top">
				<button id="top-prev" data-slide="9">PR</button>
				<div id="slider-top-inner">
					<div id="slider-top-preview">
						{% for movie in mostRev %}
						<a class="slider-top-link" style="display:none" href="{{ path('grupa_video_net_films_view', {'id': movie.rev.movie.id }) }}">
							<div class="slider-movie-details">{{ movie.rev.movie.name }} ({{ movie.rev.movie.productionYear }})</div>
							<img class="slider-top-image" src="{{ link_movies }}{{ movie.rev.movie.movieBigFoto }}"/>
						</a>
						{% endfor %}
						
					</div>
					<div id="slider-top-jumpers">
						{% for movie in mostRev %}
						<button class="slider-top-jumper">
							<img class="slider-news-jumper-image" src="{{ link_movies }}{{ movie.rev.movie.movieFoto }}"/>
						</button>
						{% endfor %}
					</div>
				</div>
				<button id="top-next" data-slide="1">NE</button>
			</div>
		</section>
	</div>
	<section id="slider-row3">
		<header class="box-header"><h3 class="box-header-content">NAJNOWSZE ZWIASTUNY</h3></header>
		<article id="slider-trailers">
			<section id="trailers-container">
				<video class="trailer-player" width="100%" height="100%" controls>
					<source class="trailer-player-source" src="{{ trailers.trailer1 }}" type="video/mp4">
					Twoja przeglądarka nie obłsuguje tego odtwarzacza.
				</video>
			</section>
			<section id="trailers-right-box">
				<div id="trailers-jumpers">
					<article class="jump-to-trailer-outer"><div class="jump-to-trailer active" data-src="{{ trailers.trailer1 }}">21-01-2015<br>Interstellar (zwiastun 2)</div><button class="mobile-jump-to-trailer" data-src="{{ trailers.trailer1 }}"><i class=" glyphicon glyphicon-play" aria-hidden="true"></i></button></article>
					<article class="jump-to-trailer-outer"><div class="jump-to-trailer" data-src="{{ trailers.trailer2 }}">21-12-2014<br>Spy (zwiastun 3)</div><button class="mobile-jump-to-trailer" data-src="{{ trailers.trailer2 }}"><i class=" glyphicon glyphicon-play" aria-hidden="true"></i></button></article>
					<article class="jump-to-trailer-outer"><div class="jump-to-trailer" data-src="{{ trailers.trailer3 }}">20-12-2014<br>Hobbit - Bitwa pięciu armii (zwiastun 3)</div><button class="mobile-jump-to-trailer" data-src="{{ trailers.trailer3 }}"><i class=" glyphicon glyphicon-play" aria-hidden="true"></i></button></article>
					<article class="jump-to-trailer-outer"><div class="jump-to-trailer" data-src="{{ trailers.trailer4 }}">19-12-2014<br>Uprowadzona 3 (zwiastun 1)</div><button class="mobile-jump-to-trailer" data-src="{{ trailers.trailer4 }}"><i class=" glyphicon glyphicon-play" aria-hidden="true"></i></button></article>
				</div>
				<footer id="trailers-footer"><a href="films/trailers" id="trailers-footer-content">ZOBACZ WIĘCEJ...</a></footer>
			</section>
		</article>
	</section>
	<aside id="questionnaire-box">
		<header class="box-header"><h3 class="box-header-content ta-right">ANKIETA</h3></header>
		<div id="questionnaire-inner">
		
		</div>
	</aside>
</div>
<aside id="last-posts-forum">
	<header class="box-header"><h3 class="box-header-content">OSTATNIE POSTY</h3></header>
	<div id="forums-jumpers">
		<div class="last-posts-column">
			<article class="jump-to-forum">
				<div id="post-info">
					<p id="post-info-top"><span id="post-info-author">adad<span class="post-info-time">21-12-2014</span></p>
					<p class="post-info-short-content">qdqdqqwdqdqdwqdqdqd</p>
					<a class="post-info-forum-name" href="#">Napisany w: </a>
				</div>
			</article>
			<article class="jump-to-forum">
				<div id="post-info">
					<p id="post-info-top"><span id="post-info-author">adad<span class="post-info-time">21-12-2014</span></p>
					<p class="post-info-short-content">qdqdqqwdqdqdwqdqdqd</p>
					<a class="post-info-forum-name" href="#">Napisany w: </a>
				</div>
			</article>
		</div>
		<div class="last-posts-column-center">
			<article class="jump-to-forum">
				<div id="post-info">
					<p id="post-info-top"><span id="post-info-author">adad<span class="post-info-time">21-12-2014</span></p>
					<p class="post-info-short-content">qdqdqqwdqdqdwqdqdqd</p>
					<a class="post-info-forum-name" href="#">Napisany w: </a>
				</div>
			</article>
			<article class="jump-to-forum">
				<div id="post-info">
					<p id="post-info-top"><span id="post-info-author">adad<span class="post-info-time">21-12-2014</span></p>
					<p class="post-info-short-content">qdqdqqwdqdqdwqdqdqd</p>
					<a class="post-info-forum-name" href="#">Napisany w: </a>
				</div>
			</article>
		</div>
		<div class="last-posts-column">
			<article class="jump-to-forum">
				<div id="post-info">
					<p id="post-info-top"><span id="post-info-author">adad<span class="post-info-time">21-12-2014</span></p>
					<p class="post-info-short-content">qdqdqqwdqdqdwqdqdqd</p>
					<a class="post-info-forum-name" href="#">Napisany w: </a>
				</div>
			</article>
			<article class="jump-to-forum">
				<div id="post-info">
					<p id="post-info-top"><span id="post-info-author">adad<span class="post-info-time">21-12-2014</span></p>
					<p class="post-info-short-content">qdqdqqwdqdqdwqdqdqd</p>
					<a class="post-info-forum-name" href="#">Napisany w: </a>
				</div>
			</article>
		</div>
	</div>
	<footer id="last-posts-footer"><a href="forum" id="last-posts-footer-content">ZOBACZ WIĘCEJ...</a></footer>
</aside>
{% endblock %}