{% extends "GrupaVideoNetBundle::layout.html.twig" %}
{% set start_active = '' %}
{% set filmy_active = '' %}
{% set forum_active = '' %}
{% set cos_active = '' %}
{% set kontakt_active = '' %}
{% set link_short = "/~s176041/images/news/" %}
{% set count = 1 %}
{% set amount = 0 %}
{% set uid = app.user.id %}
{% set ouid = order.user.id %}

{% block content %}
	{% if uid != ouid %}
		<section class="warning">
			<header class="warning-header"><h1 class="warning-header-inner">UWAGA</h1></header>
			<div class="warning-content">
				<i class="glyphicon glyphicon-warning-sign" aria-hidden="true"></i>
				<h2>Nie znaleziono takiego zamówienia</h2>
				<a class="warning-option" href="{{ path('grupa_video_net_orders') }}">MOJE ZAMÓWIENIA</a>
				<a class="warning-option" href="{{ path('grupa_video_net_index_default') }}">STRONA GŁÓWNA</a>
			</div>
		</section>
	{% endif %}
	{% if uid == ouid %} 
		<section id="orders">
			<header id="orders-header"><h2 id="orders-header-inner">Zamówienie (#{{ order.id }})</h2></header>
				<div class="desc-outer">
				<div class="desc-id">LP</div>
				<div class="desc-time">Tytuł ilmu</div>
				<div class="desc-realized">Kategoria</div>
				<div class="desc-status">Czas trwania</div>
				<div class="desc-details">Cena</div>
			</div>
			{% for movie in order.movies %}
				{% set d = movie.duration %}
				{% if d == null %}
					{% set d = "b.d." %}
				{% endif %}
				<article class="order">
					<div class="order-id">
						{{ count }}
					</div>
					<div class="order-time">
						{{ movie.name }}
					</div>
					<div class="order-realized">
						{{ movie.category.name }}
					</div>
					<div class="order-status">
						{{ d }}
					</div>
					<div class="order-details">
						{{ movie.price }} zł
					</div>
				</article>
				{% set count = count + 1 %}
				{% set amount = amount + movie.price %}
			{% endfor %}
			<div class="summary" style="margin-top:20px; margin-bottom:40px; width:100%; float:left;">
				<div class="order-time">WARTOŚĆ ZAMÓWIENIA</div>
				<div class="order-details">{{ amount }} zł</div>
			</div>
			<a class="orders-back" href="{{ path('grupa_video_net_orders') }}">ZAMÓWIENIA</a>
		</section>
	{% endif %}
	

{% endblock %}